.box_style_268 .b_head {position:relative;height:23px;overflow:hidden; background:#b29560;}
.box_style_268 .bh_scene_l {background:url(268_bhl.gif) no-repeat;width:21px;height:29px;left:0;top:0;position:absolute;}
.box_style_268 .bh_scene_c {background:url(268_bhc.gif) repeat-x;height:29px;}
.box_style_268 .bh_scene_r {}
.box_style_268 .bh_tit {position:absolute;left:20px;top:6px;}
.box_style_268 .bh_tit H3 {color:#fff;font-weight:bold;white-space:nowrap;}
.box_style_268 .bh_tit A:link {text-decoration:none;}
.box_style_268 .bh_tit A:visited {text-decoration:none;}
.box_style_268 .bh_tit A:hover {text-decoration:underline;}
.box_style_268 .bh_tit A:active {}
.box_style_268 .b_set {position:absolute;top:6px;right:6px;}
.box_style_268 .b_body {position:relative;width:100%;overflow:hidden;background:#fff;color:#4e4e4e;}
.box_style_268 .bb_content {position:relative; overflow:hidden;}

/*文章模块颜色*/
.box_style_268 .Article_Column_List_Box_TD{color:#fff;}
.box_style_268 .article_1 .article_titlesLI{background:url(icon.gif) no-repeat 0px 12px;}
.box_style_268 .article_1 .article_titlesLI2{background:url(icon.gif) no-repeat 0px 12px;}
.box_style_268 .article_1 .article_titlesLI a{color:#000;}
.box_style_268 .article_1 .article_titlesLI a:hover{color:#000;}
.box_style_268 .article_1 .article_titlesLI h4 a{color:#000;}
.box_style_268 .article_1 .article_titlesLI h4 a:hover{color:#000;}
.box_style_268 .article_1 .article_titlesLI2 h4 a{color:#000;}
.box_style_268 .article_1 .article_titlesLI2 h4 a:hover{color:#000;}
.box_style_268 .article_1 .article_titlesLI span{color:#940000;}
.box_style_268 .article_1 .article_titlesLI2 span{color:#940000;}
.box_style_268 .article_2 .article_briefsLI H4 a{color:Black;text-decoration:none;}
.box_style_268 .article_2 .article_briefsLI H4 A:link {text-decoration:none;}
.box_style_268 .article_2 .article_briefsLI H4 A:visited {text-decoration:none;}
.box_style_268 .article_2 .article_briefsLI H4 A:hover {text-decoration:underline;color:#999;}
.box_style_268 .article_2 .article_briefsLI2 H4 a{color:Black;text-decoration:none;}
.box_style_268 .article_2 .article_briefsLI2 H4 A:link {text-decoration:none;}
.box_style_268 .article_2 .article_briefsLI2 H4 A:visited {text-decoration:none;}
.box_style_268 .article_2 .article_briefsLI2 H4 A:hover {text-decoration:underline;color:#999;}
.box_style_268 .article_2 .article_briefsLI IMG{border:1px #bbb solid;}
.box_style_268 .article_2 .article_briefsLI2 IMG{border:1px #bbb solid;}
.box_style_268 .article_4 .pic_words_warp{border-bottom:1px #ccc dashed;}
.box_style_268 .article_4 .pic_words_warp img{border:1px solid #dcdcdc;}
.box_style_268 .article_4 .pic_words_warp h5{}
.box_style_268 .article_4 .pic_words_warp h5 a{color:#000;}
.box_style_268 .article_4 .pic_words_warp p{color:#888;}

/*产品模块颜色*/
.box_style_268 .Product_Column_List_Box_TD H3 {color:Black;}
.box_style_268 .article_titles .article_titlesLI h4 span a{color:Black;}
.box_style_268 .article_titles .article_titlesLI2 h4 span a{color:Black;}
.box_style_268 .article_titles .article_titlesLI h4 a{color:#999;}
.box_style_268 .article_titles .article_titlesLI2 h4 a{color:#999;}
.box_style_268 .article_titles .article_titlesLI{border-bottom:1px dashed #ccc;}
.box_style_268 .article_titles .article_titlesLI2{border-bottom:1px dashed #ccc;}
.box_style_268 .products .productsLI {}
.box_style_268 .products .p_pic {}
.box_style_268 .products .p_pic IMG {border:1px solid #bbb;}
.box_style_268 .products .p_name {}
.box_style_268 .products .p_name a{color:#000;}
.box_style_268 .products .p_price {}
.box_style_268 .products .p_price span{color:#fff;}
.box_style_268 .products .pagenum {padding-top:2em;}

/*图片模块颜色*/
.box_style_268 .pictures1 .picturesLI {}
.box_style_268 .pictures1 .picturesLI H5 a{color:Black;}
.box_style_268 .pictures1 .picturesLI .pl_img {}
.box_style_268 .pictures1 .picturesLI .pl_img IMG {border:1px solid #bbb;}