/*全站通用css*/
html{height:100%;}
body {font-size:12px; color:#333; font-family:'宋体'; background:url(../tonghua5images/bg_1-3.jpg) top center no-repeat #fff;}
ul li{ list-style-type:none;}
h1 { font-weight:bold; font-size:16px; font-family:"宋体", "微软雅黑"; font-weight:bold;}
div,form,img,ul,ol,li,dl,dt,dd {margin:0; padding:0; border:0; }
p { margin: 0px 0 12px 0 ;}
A:link {COLOR: #333333; TEXT-DECORATION: none; }
A:visited {COLOR: #333333; TEXT-DECORATION: none;}
A:active {COLOR: #333333; TEXT-DECORATION: none;}
A:hover {COLOR: #333333;TEXT-DECORATION: underline;}
.FL{float:left; display:inline; overflow:hidden;}	
.FR{float:right; display:inline; overflow:hidden;}
.clear{clear:both;}
/*header*/
.head_index{
	height:97px;
	width:960px;
	margin:0 auto;
	background:url(../tonghua5images/menu-bg.gif) 230px -210px no-repeat;
}
.head{
	height:97px;
	width:960px;
	margin:0 auto;
}
.logo{
	height:60px;
	width:220px;
	padding:16px 0 0 0;
	background:url(../tonghua5images/logo.png) 0 16px no-repeat;
}
.logo a{
	height:60px;
	width:220px;
	overflow:hidden;
	line-height:60px;
	text-indent:999em;
	display:inline-block;
}
.hd_info{
	width:75px;
	height:70px;
	line-height:20px;
	text-align:right;
	padding:16px 15px 0 0;
}
.hd_info li{
	width:75px;
	color:#04508c;
}
.hd_info li a{
	color:#04508c;
}
.hd_info li a:hover{
	color:#fff;
}
.menu{
	height:78px;
	width:998px;
	margin:0 auto;
	background:url(../tonghua5images/bg_4.jpg) repeat-x;
}
.nav,.nav ul{
	background:url(../tonghua5images/bg_2.jpg) no-repeat;
}
.nav{
	height:42px;
	width:998px;
	position:relative;
	background-position:0 -94px;
}
.nav ul{
	height:42px;
	width:988px;
	padding:0 0 0 10px;
	background-position:918px 0px;
}
.nav ul li{
	float:left;
	padding:14px 0 0 24px;
	background:url(../tonghua5images/bg_3.png) -87px 15px no-repeat;
}
.nav ul li a{
	color:#04508c;
}
.nav ul li a:hover{
	color:#f9514c;
}
.sub{
	height:26px;
	width:960px;
	margin:10px auto 0 auto;
	background:url(../tonghua5images/bg_2.jpg) 0 -42px no-repeat #0085cb;
}
.search{
	height:20px;
	width:202px;
	padding:3px 0 0 35px;
	background:url(../tonghua5images/bg_5.gif) 35px 3px no-repeat;
}
.search-keyword{
	height:18px;
	width:145px;
	font-size:12px;
	line-height:18px;
	color:#91c2d5;
	padding:1px 1px 1px 4px;
	border:none;
	background:none;
}
.search-submit{
	height:20px;
	width:48px;
	text-align:center;
	color:#895500;
	line-height:20px;
	font-size:12px;
	margin-left:4px;
	padding:0;
	border:none;
	background:none;
}
.tag{
	height:26px;
	width:710px;
	color:#fff;
	line-height:26px;
	background:url(../tonghua5images/bg_2.jpg) 630px -68px no-repeat;
}
.tag span{
	float:right;
	font-weight:bold;
	padding-right:20px;
}
.tag a{
	color:#fff;
}
.menu_ico1,.menu_ico2{
	position:absolute;
	z-index:10;
	background:url(../tonghua5images/bg_3.png) no-repeat;
}
/*童话故事内容*/
.w960{width:960px;}
.center{margin:0px auto;}
.clearth{overflow:hidden;}
.mt1{margin-top:8px;}
.ad1{ margin-left:10px; margin-bottom:10px;}
.ad2{ float:left; margin-right:5px; margin-bottom:5px;}
.ad3{ text-align:center; margin-bottom:5px;}
.ad4{ text-align:center; margin-bottom:5px;}
.ad_qzone{
	height:30px;
	width:590px;
	line-height:22px;
	text-align:center;
	color:#666;
	padding:5px 30px 5px 26px;
}
/*--------百度分享---------*/
.tonghua5fenxiang {line-height: 35px;height: 35px;background-color: #F8F7F7;border: 1px solid #E3E3E3;background-image: url(../tonghua5images/bg_share.gif);background-repeat: no-repeat;padding-left: 75px;margin:0 4px 8px;}
.tonghua5fenxiang .bds_qzone,.tonghua5fenxiang .bds_tsina,.tonghua5fenxiang .bds_tqq,.tonghua5fenxiang .bds_renren,.tonghua5fenxiang .bds_baidu,.tonghua5fenxiang .bds_copy,.tonghua5fenxiang .bds_tieba,.tonghua5fenxiang .bds_t163 {font-size: 14px;color: #666666;line-height: 16px;height: 16px;margin-right: 5px;text-indent: 2px;font-family: Arial, Helvetica, sans-serif;}
.tonghua5fenxiang #bdshare .bds_more {line-height: 16px;color: #0066CC;height: 16px;font-size: 12px;margin-right: 5px;text-indent: 3px; }
.tonghua5fenxiang #bdshare {padding-top: 5px;}
.tonghua5fenxiang h2{ float:right; font-size:12px; padding-right: 10px;}
/*fenye*/
.dede_pages{
	width:540px;
	overflow: hidden;
}
.dede_pages ul{
	float:left;
	padding:5px 0px 8px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:25px;
	margin-right:6px;
	font-size:14px;
	color:#0288C1;
	font-weight:bold;
}
.dede_pages ul li a{
	padding:3px 4px 0px 4px;
	color:#fff;
	background-color:#02A3E7;
	line-height:20px;
}
.dede_pages ul li a:hover{
	color:#02A3E7;
	text-decoration:none;
    background-color:#B5E6F8;
}
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	color:#02A3E7;
	padding:3px 4px 0px 4px;
	font-weight:bold;
	background-color:#B5E6F8;
}
.dede_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#0288C1;
}
.dede_pages .pageinfo strong{
	color:#0288C1;
	font-weight:normal;
	margin:0px 2px;
}
.dede_pages select { font-size:14px;}
/*童话故事内容左边*/
.pleft{width:630px; float:left; overflow:hidden;}
.ico3 li{padding-left:16px; background:url(../tonghua5images/ico-3.gif) 7px 11px no-repeat;}
/*---------- viewbox ---------*/
.viewbox{
	overflow:hidden;
	padding-bottom:8px;
}
dd.viewbox{
	padding:5px 10px 0px 10px;
}
.viewbox .title{
	height:56px;
	line-height:56px;
	text-align:center;
	overflow:hidden;
	padding-top:10px;
}
.viewbox .title h1{
	font-size:24px;
	color:#369;
}
.viewbox .title h2{
text-align:center;
}
.viewbox .info{
	height:24px;
	line-height:17px;
	text-align:center;
	overflow:hidden;
	color:#666;
}
.viewbox .info small{
	margin-left:8px;
	margin-right:3px;
	color:#999;
	font-size:12px;
}
.viewbox .info a{
	color:#690;
}
.viewbox .intro{
	padding:8px 10px;
	line-height:20px;
	background:#E6F7FF;
	font-size:12px;
	color:#666;
	margin:8px 10px 0px 10px;;
}
.viewbox .infolist{
	width:368px;
	float:left;
}
.viewbox .infolist small{
	width:100px;
	text-align:right;
	display:block;
	float:left;
	font-size:12px;
	line-height:31px;
	color:#999;
	clear:left;
	height:31px;
	overflow:hidden;
}
.viewbox .infolist span{
	width:200px;
	line-height:30px;
	float:left;
	height:31px;
	overflow:hidden;
}
.viewbox .picview{
	width:320px;
	float:right;
	padding-right:24px;
	padding-top:16px;
}
.viewbox .labeltitle{
	height:23px;
	background:url(../tonghua5images/view-labeltitle-bg.gif) left 10px repeat-x;
	clear:both;
	overflow:hidden;
	margin:0px auto 0px;
	padding-top:10px;
}
.viewbox .labeltitle strong{
	width:80px;
	height:23px;
	line-height:23px;
	text-align:center;
	color:#FFF;
	letter-spacing:1px;
	display:block;
	float:left;
	background:url(../tonghua5images/view-labeltitle-bg.gif) left -44px no-repeat;
	overflow:hidden;
}

.viewbox .content{
	font-size:14px;
	padding:12px 16px;
	line-height:25px;
	color:#333;
}
.viewbox .content p{
	text-indent:2em;
	margin-bottom:1em;
}
.viewbox .dede_pages{
	width:634px;
	float:none;
	overflow:hidden;
	text-align:center;
}
.viewbox .dede_pages ul{
	margin:0px auto;
	float:none;
	clear:both;
	overflow:hidden;
	text-align:center;
	white-space:nowrap;
	font-weight:normal;
	font-size:12px;
}
.viewbox .dede_pages ul li,.viewbox .dede_pages ul li a{
	float:none;
	display:inline;
	font-weight:normal;
	font-size:12px;
	line-height:15px;
}
.viewbox .dede_pages ul li a{
	padding:5px 4px 0px 4px;
	line-height:15px;
}
.viewbox .like{
	margin:0px 15px 0px 15px;
	line-height:20px;
}
.viewbox .like .title1{
	background-color:#DFF5FF;
	font-size:14px;
	line-height:25px;
	text-indent:5px;
}
.viewbox .like .like_1{
	margin-top:10px;
	margin-left:5px;
}
.viewbox .boxoff{
	height:10px;
	overflow:hidden;
	clear:both;
	background:url(../tonghua5images/boxoff.gif) left 15px repeat-x;
	margin:0px 15px 0px 15px;
	padding-top:10px;
}
.viewbox .boxoff strong{
	display:block;
	width:8px;
	height:10px;
	overflow:hidden;
	font-size:0px;
	line-height:100px;
	background:url(../tonghua5images/boxoff.gif) right -10px no-repeat;
	float:left;
}
.viewbox .handle{
	height:40px;
	padding-top:12px;
	overflow:hidden;
	clear:both;
}
.viewbox .handle .context{
	float:left;
	margin-left:15px;
}
.viewbox .handle .context ul li{
	line-height:20px;
	color:#888;
}
.viewbox .actbox{
	width:260px;
	text-align:center;
	float:right;
	padding-top:10px;
	padding-right:10px;
}
.viewbox .actbox ul li{
	display:inline;
	padding-left:22px;
	background-image:url(../tonghua5images/actbox-ico.gif);
	background-repeat:no-repeat;
	margin-right:10px;
}
.viewbox .actbox ul li a{
	color:#666;
}
.viewbox .actbox ul li#act-fav{
	background-position:4px 0px;
}
.viewbox .actbox ul li#act-err{
	background-position:4px -37px;
}
.viewbox .actbox ul li#act-pus{
	background-position:4px -73px;
}
.viewbox .actbox ul li#act-pnt{
	background-position:4px -109px;
}
.dede_comment{
	padding-bottom:6px;
}
.dede_comment .decmt-box{
	width:98%;
	padding:6px 5px 8px;
	margin:0px auto;
	border-bottom:1px solid #E5E5E5;
	overflow:hidden;
	clear:both;
}
.dede_comment .decmt-box .decmt-title{
	line-height:19px;
	color:#999;
	font-family:Tahoma;
}
.dede_comment .decmt-box .decmt-title span{
	margin-right:2px;
	vertical-align:middle;
}
.dede_comment .decmt-box .decmt-title .moodico{
	height:18px;
	width:18px;
	display:inline-block;
}
.dede_comment .decmt-box .decmt-title .username{
	color:#669;
}
.dede_comment .decmt-box .decmt-title .username a{
	color:#669;
}
.dede_comment .decmt-box .decmt-title .username a:hover{
	text-decoration:none;
	color:#690;
}
.dede_comment .decmt-box .decmt-title .ip{
	color:#669;
	font-size:11px;
}
.dede_comment .decmt-box .decmt-title .date{
	color:#555;
	font-size:11px;
}
.dede_comment .decmt-box .decmt-act{
	float:right;
	margin-top:-18px;
	padding-right:10px;
	position:relative;
	clear:both;
	color:#999;
}
.dede_comment .decmt-box .decmt-act span{
	margin-right:7px;
}
.dede_comment .decmt-box .decmt-act span a{
	color:#888;
}
.dede_comment .decmt-box .decmt-content{
	color:#555;
	line-height:21px;
	clear:both;
	width:99%;
	margin:2px auto 0px;
}
.dede_comment .decmt-box .decmt-content img{
	vertical-align:middle;
}
.dede_comment .decmt-box .decmt-box{
	background:#FFE;
	border:1px solid #CCC;
	margin:6px auto;
}
.dede_comment .decmt-box .decmt-box .decmt-title{
	text-indent:4px;
}
.dede_comment .decmt-box .decmt-box .decmt-content{
	color:#555;
}
.nocomment{
	padding:10px;
	color:#666;
}
.dede_comment_post{
	padding:5px;
}
.dcmp-title{
	line-height:25px;
}
.dcmp-title strong{
	color:#444;
	font-weight:normal;
}
.dcmp-title small{
	font-size:12px;
	color:#999999;
}
.dcmp-stand{
	float:right;
	margin-top:-18px;
	padding-right:10px;
	position:relative;
	clear:both;
	color:#999;
}
.dcmp-stand strong{
	font-weight:normal;
	color:#444;
}
.dcmp-stand input{
	margin-right:2px;
}
.dcmp-stand img{
	vertical-align:middle;
	margin-right:2px;
}
.dcmp-content{
	padding-top:8px;
}

.dcmp-content textarea{
	width:96%;
	height:60px;
}
.dcmp-mood{
	height:25px;
	width:80%;
	overflow:hidden;
	clear:both;
	padding-top:12px;
}
.dcmp-mood strong{
	float:left;
	color:#444;
	font-weight:normal;
	line-height:25px;
}
.dcmp-mood ul{
	float:left;
}
.dcmp-mood ul li{
	float:left;
	margin-right:8px;
}
.dcmp-mood ul li input,.dcmp-mood ul li img{
	vertical-align:middle;
	margin-right:4px;
	*margin-right:0px;
}
.dcmp-post{
	height:35px;
	overflow:hidden;
	clear:both;
	color:#444;	
}
.dcmp-post .dcmp-userinfo{
	float:left;
	margin-right:6px;
}
.dcmp-post .dcmp-userinfo input{
	height:13px;
	padding-right:0px;
}
.dcmp-post .dcmp-userinfo input,.dcmp-post .dcmp-userinfo img{
	vertical-align:middle;
	margin:5px;
}
.dcmp-post .dcmp-submit{
	float:left;
	padding-top:6px;
}
.dcmp-post .dcmp-submit input,.dcmp-post .dcmp-submit button{
	vertical-align:middle;
}
.dcmp-post .dcmp-submit button{
	width:70px;
	height:25px;
	border:none;
	background:url(../tonghua5images/btn-bg2.gif) no-repeat;
	line-height:25px;
	letter-spacing:1px;
	overflow:hidden;
	color:#444;
	cursor:pointer;
	margin-left:5px;

}
/*童话故事内容右边*/
.pright{width:320px; float:right; overflow:hidden; background-color:#D1EFFE; margin-bottom:10px;}
.pright .right-top{background:url(../tonghua5images/right-bg.gif) left top no-repeat; height:5px; overflow:hidden;}
.pright .right-bottom{background:url(../tonghua5images/right-bg.gif) 0px -5px no-repeat; height:5px; overflow:hidden; margin-top:20px;}
.mt3{margin-left:10px; margin-right:10px;}
.intro{color:#333; line-height:20px; width:585px; padding-top:5px;}
.intro a{color:#ff0000; line-height:20px; width:585px; padding-top:5px;}
.d2{/* 后置时间日期的小列表 */
	padding:4px 0px;
}
.d2 li{
	width:100%;
	overflow:hidden;
	clear:both;
	float:left;
	padding:10px 0px;
	border-bottom:1px solid #eee;
}
.d2 li span{
	color:#aaa;
	font-size:10px;
	margin-left:14px;
}
.d2 li span small{
	font-size:10px
}
.d2 li a.title{
	overflow:hidden;
	font-size:14px;color:#FF6600;
}
.d4{/*内页右侧热榜列表*/
}
.d4 {
	background:url(../tonghua5images/right-list1.gif) 14px 10px no-repeat;
	width:300px;
	overflow:hidden;
	padding-top:5px;
	padding-bottom:5px;
}
.d4_1 {
	background:url(../tonghua5images/right-list2.gif) 14px 10px no-repeat;
	width:300px;
	overflow:hidden;
	padding-top:5px;
	padding-bottom:5px;
}
.d4 li {
	line-height:30px;
	overflow:hidden;
	width:140px;
	float:left;
	height:30px;
	text-indent:40px;
}
.d4 li a{
	font-size:14px;
	color:#333;
	display:block;
}
.d4 li p{
	color:#888;
	line-height:17px;
	height:33px;
	overflow:hidden;
}
.d5{/* 后置时间日期的大列表 */
	padding:8px;
	border-bottom:1px solid #EEE;
}
.d5 li{
	height:41px;
	line-height:41px;
	background:url(../tonghua5images/ico-2.gif) 2px 17px no-repeat;
	padding-left:16px;
}
.d5 li a{
	font-size:14px;
}
.d5 li span{
	margin-left:10px;
	color:#777;
}
/*---------- e : 图片样式 ---------*/
.e1 span{/* 单列列表 */
	width:130px;
	height:158px;
	display:block;
	background:url(../tonghua5images/img-bg.gif) no-repeat;
	float:left;
}
.e1 img{/* 单列列表 */
	width:107px;
	height:135px;
	overflow:hidden;
	margin-left:11px;
	margin-top:9px;
	border:1px solid #CCC;
}
.e1 p{
	float:left;
	padding-left:8px;
	padding-top:4px;
	line-height:30px;
	color:#0288C1;
	font-size:14px;
}
/* Clear Fix 万能闭合*/
.close:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.close{display:inline-block;}
/* Hide from IE Mac */
.close {display:block;}
/* End hide from IE Mac */
/* end of clearfix */
/* 内页模块(通用块) */
.tbox2{
	margin:0 0 10px 0;
	overflow:hidden;
	background:url(../tonghua5images/box-bg-bottom.gif) left bottom no-repeat;
	padding-bottom:20px;
}
.tbox2 dt{
	height:44px;
	background:url(../tonghua5images/box-bg-title.gif) no-repeat;
	overflow:hidden;
	clear:both;
	line-height:44px;
}

.tbox2 dt strong,.tbox2 dt h1{
	font-size:16px;
	font-family:"黑体";
	font-weight:normal;
	display:block;
	float:left;
	text-indent:35px;
	color:#02A3E7;
}
.tbox2 dt strong a{
	text-decoration:none;
}
.tbox2 dt .more{
	float:right;
	padding-right:15px;font-weight:bold;
}
.tbox2 dt .more small{
	color:#fff;
	font-size:14px;
}
.tbox2 dd{
	padding:5px 10px 0px 20px;
	clear:both;
	background:url(../tonghua5images/box-bg-content.gif) left top repeat-y;
}
.tbox2_1{
	background:url(../tonghua5images/box-bg-bottom1.gif) left bottom no-repeat;
}
.tbox2_1 dt{
	background:url(../tonghua5images/box-bg-title1.gif) no-repeat;color:#6BB742;
}
.tbox2_1 dt strong,.tbox2_1 dt strong a,.tbox2_1 dt a,.tbox2_1 dt h1{
	color:#6BB742;
}
.tbox2_1 dd{
	background:url(../tonghua5images/box-bg-content1.gif) left top repeat-y;
}
.tbox2_2{
	background:url(../tonghua5images/box-bg-bottom2.gif) left bottom no-repeat;
}
.tbox2_2 dt{
	background:url(../tonghua5images/box-bg-title2.gif) no-repeat;color:#F26100;
}
.tbox2_2 dt strong,.tbox2_2 dt strong a,.tbox2_2 dt a,.tbox2_2 dt h1{
	color:#F26100;
}
.tbox2_2 dd{
	background:url(../tonghua5images/box-bg-content2.gif) left top repeat-y;
}


/* 内页右侧模块(通用块) */
.tbox3{
	margin-bottom:10px;
}
.tbox3 dl{
	background:url(../tonghua5images/right-box-bg.gif) 10px 30px no-repeat;
}
.tbox3 dl dd{
	background:url(../tonghua5images/right-box-bg1.gif) 10px bottom no-repeat;
}
.tbox3 dt{
	background:url(../tonghua5images/right-title-bg.gif) 10px 0px no-repeat;
	height:30px;
	overflow:hidden;
	padding-bottom:5px;
}
.tbox3 dt strong{
	font-family:"黑体";
	font-weight:normal;
	font-size:16px;
	color:#02A3E7;
	text-indent:40px;
	line-height:30px;
	padding-left:20px;
}
/* footer */
.footer{ width:960px;overflow:hidden; margin:0 auto;text-align:center; padding-top:5px;line-height:25px; color:#666666; background:url(../tonghua5images/footer_beijing.jpg) bottom no-repeat; height:80px;}
.footer a{color:#666666}